[package]
name = "reshell"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "reshell"
path = "src/main.rs"

[dependencies]

[profile.release]
opt-level = "z"
lto = true
codegen-units = 1
panic = "abort"
strip = true

